<div id="<%= dom_id driver %>">
<body style="background-color: skyblue">
<table border=4>
  <tr align="center">
  <th><strong style="color: white">Name:</strong></th>
  <th><strong style="color: white">Contact number string:</strong></th>
  <th><strongs tyle="color: white">Bus:</strong></th>
  </tr>

  <tr>
  <th><%= driver.name %></th>
  <th><%= driver.contact_number_string %></th>
  <th><%= driver.bus_id %></th>
  </tr>

</table>
</body>
</div>
